<!-- 
(.row.my-5>.col-md-6.mx-auto>btn.btn.btn-sm.btn-success{New})+(.row.my>.col-md-6.mx-auto>(.form-group>label[for=title]{Title}.my-2+input:text.form-control#title)+(.d-grid.my-2>btn.btn.btn-primary{Add}))+(.row.my-2>col-md-8.mx-auto>ul.list-group>li.list-group-item{Item 1}) -->

<div class="row my-5">
    <div class="col-md-6 mx-auto text-center">
        <button (click)="toggleForm()" class="btn btn-sm btn-success">New Todo</button> 
    </div>
</div>
@if(openForm) {
    <div class="row my">
        <div class="col-md-6 mx-auto">
            <div class="form-group">
                <label for="title" class="my-2">Title</label>
                <input [(ngModel)]="todo.title" type="text" name="" id="title" class="form-control">
            </div>
            <div class="d-grid my-2">
                @if(editable) {
                    <button (click)="updateTodo()" class="btn btn-warning">Update</button>
                }
                @else {
                    <button (click)="addTodo()" class="btn btn-primary">Add</button>
                }
                <button class="btn btn-light" (click)="toggleForm()">Cancel</button>
            </div>
        </div>
    </div>
}
<div class="row my-2">
    <div class="col-md-8 mx-auto">
        <ul class="list-group">
            @for(todo of todos; track todo.id) {
                <li class="list-group-item" (dblclick)="deleteTodo(todo)">
                    <button (click)="completeTodo(todo)" [ngClass]="{
                        'btn-danger': !todo.completed,
                        'btn-light': todo.completed
                    }" 
                            class="btn btn-sm me-2"><i [ngClass]="{
                                'fa-check-square-o': !todo.completed,
                                'fa-check-square': todo.completed
                            }" class="fa"></i></button> 
                    <button (click)="editTodo(todo)" class="btn btn-sm btn-warning me-2"><i class="fa fa-pencil"></i></button> 
                   <span [class.text-decoration-line-through]="todo.completed">{{ todo.title }}</span>
                </li>
            }
        </ul>
    </div>
</div>